@charset "UTF-8";
@import "_vars.scss";
/* =========================================================
 LAUNCHER
========================================================= */
.launcher {
  // HOME
  //--------------------------------------------------------
  &.home {
    #mainVisual {
      img {
        vertical-align: top;
      }
      > li {
        &:nth-child(n+2) {
          display: none;
        }
      }
    }
    .logout {
      padding-top: 10px;
      @media screen and (min-width: $tablet) {
        ul{
          max-width: 1050px;
        }
      }
    }
    .logout .loginArea {
      background: #fcf0c3;
      width: 93.4%;
      margin: 0 auto 20px;
      color: #f48a00;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      position: relative;
      font-size: 1.2rem;
    }
    .logout .btn {
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 1em;
      height: 22px;
      font-size: 1.3rem;
    }
    .loginArea .txt {
      padding: 1em 5em 1em 0.5em;
      min-height: 2em;
      font-size: 1rem;
    }
    .app {
      padding-bottom: 1.25em;
      background-size: cover;
      position: relative;
      &.new {
        background-image: url("/common/images/launcher/home/new_bg.png");
        h2 {
          @include title(rgba(#c70221, .2));
        }
      }
      &.history {
        background-image: url("/common/images/launcher/home/history_bg.png");
        h2 {
          @include title(rgba(#0064b8, .2));
        }
      }
      &.recommend,
      &.select {
        background-image: url("/common/images/launcher/home/select_bg.png");
        h2 {
          @include title(rgba(#0097b8, .2));
          margin-bottom: 1em;
        }
      }
      &.logout,
      &.ranking,
      &.try {
        background-image: url("/common/images/launcher/home/try_bg.png");
        h2 {
          @include title(rgba(#eca100, .2));
        }
      }
      &.logout{
        background-color: #fbfae9;
        .appList li p{
          margin-bottom: 0;
        }
        //background-image: none;
      }
      &.pickup {
        background-image: url("/common/images/launcher/home/pickup_bg.png");
        h2 {
          @include title(rgba(#fa6008, .2));
        }
        .tag {
          position: relative;
          width: 288px;
          margin: 0 0 .5em;
          padding-left: 1em;
          &:before {
            position: absolute;
            top: 8px;
            width: 50px;
            height: 26px;
            padding-left: 15px;
            background: url("/common/images/launcher/home/pickup_tag.png") no-repeat;
            background-size: cover;
            content: '';
          }
          p {
            display: inline-block;
            position: relative;
            margin: 4px 0 0 10px;
            padding: 0.5em;
            letter-spacing: 0.05em;
            font-weight: bold;
            font-size: 1.3rem;
            color: #FFF;
            z-index: 1;
            &:before {
              position: absolute;
              top: 0;
              left: 5px;
              width: 60px;
              height: 10px;
              background: url("/common/images/launcher/home/pickup_tag_keyword.png") no-repeat;
              background-size: contain;
              content: '';
            }
            &:after {
              display: block;
              position: absolute;
              width: 80%;
              height: 26px;
              top: 4px;
              right: 0;
              background-color: #F77524;
              content: '';
              z-index: -1;
            }
          }
        }
      }
      &.recommend,
      &.try {
        ul {
          display: flex;
          width: 298px;
          li {
            width: 100%;
            margin-right: 0;
            box-sizing: border-box;
            text-align: left;
            @extend %cf;
            &.new:before {
              left: 45px;
            }
          }
        }
      }
      &.try {
        ul {
          li {
            p {
              width: auto;
              margin-bottom: 0;
              padding-left: 0.5em;
              white-space: normal;
              text-overflow: inherit;
              text-align: left;
            }
            img {
              width: 100%;
            }
          }
        }
      }
      &.recommend {
        ul {
          max-width: 336px;
          width: auto;
          padding: 0 3.3%;
          li {
            margin-left: 0;
            padding-bottom: 6px;
            display: table;
            div,
            figure {
              display: table-cell;
              vertical-align: top;
            }
            figure {
              //float: left;
              width: 82px;
              img {
                margin-bottom: 0;
              }
            }
            a {
              padding-bottom: 0;
            }
            div {
              //float: right;
              //width: 185px;
              padding-left: 9px;
              font-size: 1.2rem;
              .heading {
                margin-bottom: 0;
                font-size: 1.6rem;
                padding: 10px 10px 5px 0;
                overflow: hidden;
                //white-space: nowrap;
                text-overflow: ellipsis;
              }
              .txt {
                margin-bottom: 1em;
                font-size: 1.1rem;
                line-height: 1.4;
              }
            }
          }
        }
      }
      &.ranking {
        background-color: #FAE5C1;
      }
    }
  }
  @media screen and (min-width: 426px) {
    &.home {
      .app {
        &.recommend,
        &.try {
          ul {
            max-width: none;
            -webkit-justify-content: center;
            justify-content: center;

            .android4-1 &{
              display: block;
              text-align: center;
            }

            li {
              display: inline-block;
              width: 48.3%;
              max-width: 408px;
              margin: 1.3% 0 0 !important;
              &:nth-child(2n+2) {
                margin-left: 3.3% !important;
              }
              div,
              figure {
                display: table-cell;
                float: none;
                vertical-align: top;
              }
              figure {
                width: 82px;
                padding-right: 9px;
              }
              div {
                width: auto;
              }
            }
          }
        }
        &.try ul {
          max-width: 660px !important;
          li {
            max-width: 300px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1240px) {
    &.home {
      .app {
        &.recommend,
        &.try {
          ul {
            li {
              &:nth-child(2n+2) {
                margin-left: 2% !important;
              }
            }
          }
        }
      }
    }
  }
  &.low {
    .app{
      &:after {
        display: block;
        width: 100%;
        height: 18px;
        background-position: 97.5% center;
        background-size: 56px 18px;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        top: 18px;
        right: 0;
      }
      &.history {
        &:after {
          background-image: url("/common/images/launcher/home/history_more.png");
        }
      }
    }
  }
  // high
  //--------------------------------------------------------- */
  &.home.high {
    .app {
      &:after {
        display: block;
        width: 100%;
        height: 18px;
        background-position: 97.5% center;
        background-size: 56px 18px;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        top: 18px;
        right: 0;
      }
      &.new {
        &:after {
          background-image: url("/common/images/launcher/home/new_more.png");
        }
      }
      &.history {
        &:after {
          background-image: url("/common/images/launcher/home/history_more.png");
        }
      }
      &.pickup {
        &:after {
          background-image: url("/common/images/launcher/home/pickup_more.png");
          top: 65px;
        }
      }
      &.ranking {
        &:after {
          background-image: url("/common/images/launcher/home/ranking_more.png");
          background-size: 79px 18px;
        }
      }
    }
  }
  // SEARCH
  //--------------------------------------------------------
  &.search {
    .app {
      background-color: #f0f0f0;
      h2 {
        @include title(rgba(#dc1e3c, .2));
      }
      .appList li p{
        margin-bottom: 0;
      }
      @media screen and (min-width: $tablet) {
        ul{
          max-width: 990px;
        }
      }
    }
  }
  // L-2　チュートリアル
  //--------------------------------------------------------
  &.tutorial {
    .inner {
      background: rgba(200, 200, 200, 0.8);
      .center-item {
        .slick-arrow {
          display: none!important;
        }
      }
      .tutorial_box {
        .inner {
          width: 95%;
          margin: 0.5em auto;
          background: #fff;
          box-shadow: 0 0 6px 1px #b4b4b4;
          -moz-box-shadow: 0 0 6px 1px #b4b4b4;
          -webkit-box-shadow: 0 0 6px 1px #b4b4b4;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          padding-bottom: 2em;
        }
        h1 {
          border-radius: 3px 3px 0 0;
          -moz-border-radius: 3px 3px 0 0;
          -webkit-border-radius: 3px 3px 0 0;
          margin: 0 auto;
          text-align: center;
        }
        h3 {
          width: 95%;
          margin: 0 auto;
        }
        p {
          width: 95%;
          margin: 0 auto 1em;
        }
      }
    }
  }
  // 特集
  //--------------------------------------------------------- */
  &.feature {
    section.inner {
      article {
        &.paragraph {
          border-bottom: $border-default;
          padding-bottom: 1em;
        }
        .play {
          margin-bottom: 1em;
        }
        &.item {
          .button {
            padding: 0.5em 0.5em 0.3em;
            box-sizing: border-box;
            ul {
              display: inline-table;
              text-align: center;
              li {
                display: table-cell;
                vertical-align: middle;
                text-align: left;
                &:first-child {
                  width: 30px;
                }
                &:last-child {
                  padding-left: 1em;
                }
              }
              img {
                width: 100%;
              }
            }
            .btn {
              background-color: #f0f0f0;
            }
          }
        }
      }
    }
  }
}
/* MODULE
--------------------------------------------------------- */
.launcher {
  section.inner {
    background-color: #FBFAE9;
    .emphasis {
      background-color: #faf2d5;
    }
  }
  .accordion {
    margin-bottom: 2em;
    dl {
      background-color: #FFF6DC;
      &.active {
        background-color: #FFF1C7;
      }
    }
  }
}
/*パスワード変更入力*/
.pass {
  width: auto;
  margin: 0 2.5% 1.4em;
  @extend %cf;
}
.pass dl dt {
  width: 45%;
  float: left;
  clear: both;
  margin: 0 5px 1% 0;
}
.pass dl dd {
  width: 50%;
  float: right;
  margin: 0 5px 1em 0;
}
.pass dl dd input {
  width: 80%;
  padding: 3% !important;
}
/*戻る確認ボタン*/
.consent {

}

//パスワード変更
//--------------------------------------------------------- */
//子ども情報の登録L-3-4-2
//--------------------------------------------------------- */
.child_register, .initial, .first_change {
  .register_area_02 {
    dl {
      overflow: hidden;
    }
    dt {
      float: left;
      width: 20%;
      padding: 0.5em 0;
    }
    dd {
      margin-top: -2.5em;
      width: 85%;
      float: right;
      overflow: hidden;
      padding: 0.5em 0 0 0.5em;
      @include flex;
      input {
        display: none;
        &[type=radio] {
          display: none;
          + label {
            &:after,
            &:before {
              display: none;
            }
          }
        }
      }
      label {
        display: block;
        width: 41%;
        padding: 0.5em;
        margin: 0 0.5em 0.5em 0;
        border-radius: 5px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08), inset 0 -9px 2px -7px rgba(0, 0, 0, 0.5);
        background-color: #f9f9f9;
        text-align: center;
        text-decoration: none !important;
        color: #333 !important;
        line-height: 1em;
      }
      input[type="radio"]:checked + label {
        box-shadow: 0 0 0 2px rgba(#000, .08), inset 0 10px 2px -7px rgba(0, 0, 0, .5);
        background-color: $btn;
        text-decoration: none !important;
        color: #fff !important;
      }
      input[type=radio] + label:before {
        background-image: none;
        display: none;
      }
      input[type=radio]:checked + label:before {
        background-image: none;
        display: none;
      }
      .ml {
        margin-left: 47% !important;
      }
      span {
        font-size: 0.7em;
      }
      .hidden {
        visibility: hidden;
      }
    }
  }
}
//子ども情報の登録 確認画面
//--------------------------------------------------------- */
.registration_area {
  width: 100%;
  margin: 0 auto 15px;
  padding: 0 2.5%;
  @extend %cf;
  padding-bottom: 2em;
}
.registration_area p {
  clear: both;
  font-size: 0.8em;
  width: 90%;
}
.registration_area dl {
  overflow: hidden;
}
.registration_area dl dt {
  width: 30%;
  float: left;
  clear: both;
  margin: 0 5px 1em 0;
  padding-bottom: 0.5em;
}
.registration_area dl dd {
  width: 70%;
  padding-bottom: 0.5em;
  margin: 0 5px 1.5em 30%;
}
.launcher {
  //初回子ども情報変更
  //--------------------------------------------------------- */
  // &.first_change form.module{
  //   padding: 0;
  // }
  .first_change_area {
    li {
      width: 100%;
      margin: 0 auto 1em;
      &:first-child .btn{
        width: auto;
      }
    }
    input {
      width: 33%;
      padding: 0.6em 0.5em !important;
      vertical-align: middle;
    }
  }
  .selectBox {
    &.gender {
      width: 28%;
    }
    &.age_change {
      width: 100%;
    }
  }

  .first_change_area .btn {
    padding: 0.5em;
  }
  //お知らせ通知設定
  //--------------------------------------------------------- */
  //*お知らせ通知のオンオフ切り替え*/
  .notice_area {
    width: auto;
    max-width: 300px;
    margin: 0 auto 2em;
    @extend %cf;
    //border-bottom: 1px solid #535353;
  }
  .notice_area dl dt {
    float: left;
    clear: both;
    margin: 0 5px 15px 0;
    padding: 5px 0 0;
  }
  .notice_area dl dd {
    float: right;
    margin: 0 5px 15px 0;
  }
  //*すべてオンオフ切り替えボタン*/
  &.notice {
    .inner {
      .allselect {
        margin: 0 auto;
        padding: 1em 0;
        display: table;
        li {
          display: table-cell;
        }
        input {
          display: none;
          &[type=radio] {
            display: none;
            + label {
              &:after,
              &:before {
                display: none;
              }
            }
          }
        }
        label {
          display: block;
          padding: 0.5em;
          margin: 0 0.5em 0.5em 0;
          border-radius: 5px;
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08), inset 0 -9px 2px -7px rgba(0, 0, 0, 0.5);
          background-color: #f9f9f9;
          text-align: center;
          text-decoration: none !important;
          color: #333 !important;
          .right {
            float: right;
          }
        }
        input[type="radio"]:checked + label {
          box-shadow: 0 0 0 2px rgba(#000, .08), inset 0 10px 2px -7px rgba(0, 0, 0, .5);
          background-color: #df344f;
          text-decoration: none !important;
          color: #fff !important;
        }
        input[type=radio] + label:before {
          background-image: none;
          display: none;
        }
        input[type=radio]:checked + label:before {
          background-image: none;
          display: none;
        }
      }
    }
  }
  /*.confirm_area.on_off {
    width: 220px;
  }*/
  //*アプリ名学習名*/
  ul.notice_app img {
    width: 82px;
    float: left;
  }
  ul.notice_app {
    margin: 25px auto;
    width: 300px;
  }
  ul.notice_app li {
    clear: both;
    @extend %cf;
    margin: 25px auto;
  }
  .app_name {
    width: 43%;
    float: left;
    margin: 25px 0 0 1%;
  }
  .on_bt {
    float: right;
    margin: 25px 0 0 1%;
  }
  // 縦/横画面促進画面
  //--------------------------------------------------------- */
  @media screen and (max-width: 566px) {
    .logout .btn {
      margin: 5px;
    }
  }
}
.launcherEnd{
  .end_side, .end_long{
    img{
      vertical-align: top;
    }
  }
  @media all and (orientation: portrait) {
    .end_side{
      display: block;
    }
    .end_long{
      display: none;
    }
  }
  @media all and (orientation: landscape) {
    .end_side{
      display: none;
    }
    .end_long{
      display: block;
    }
  }
}

// ロックが解除されました
//--------------------------------------------------------- */
// 縦/横画面促進画面 横画面で遊んでね
//--------------------------------------------------------- */
/*@media only screen and (max-device-width:480px) and (orientation:portrait) {
  .side_play {
    display: none;
  }
}*/
@media (orientation: landscape) {
  .side_play {
    display: none;
  }
}
// 終了ダイアログ
//--------------------------------------------------------- */
.remodal .txt {

}
// スタンプ帳ダイアログ
//--------------------------------------------------------- */
.remodal .buttons li input.detail {
  width: auto;
}
// スタンプ帳ダイアログ(ログインボーナス) モーダル
//--------------------------------------------------------- */
.login_bonus {
  margin-top: 0;
}
h3.login img {
  width: 60%;
  height: auto;
  margin: 1em auto 0;
}
ul.bonus_area {
  margin: 0 auto;
  @extend %cf;
}
ul.bonus_area li:after {
  content: '';
}
ul.bonus_area li:nth-child(1) {
  background: url("/common/images/launcher/home/stamp_1.gif") no-repeat left center;
  background-size: 100%;
  padding: 10px 0;
}
ul.bonus_area li:nth-child(2) {
  background: url("/common/images/launcher/home/stamp_2.gif") no-repeat left center;
  background-size: 100%;
  margin: 10% 0 0;
  padding: 10px 0;
}
ul.bonus_area li:nth-child(3) {
  background: url("/common/images/launcher/home/stamp_3.gif") no-repeat left center;
  background-size: 100%;
  margin-top: 0;
  padding: 10px 0;
}
ul.bonus_area li:nth-child(4) {
  background: url("/common/images/launcher/home/stamp_4.gif") no-repeat left center;
  background-size: 100%;
  margin: 10% 0 0;
  padding: 10px 0;
}
ul.bonus_area li:nth-child(5) {
  background: url("/common/images/launcher/home/stamp_5.gif") no-repeat left center;
  background-size: 100%;
  margin-top: 0;
  padding: 10px 0;
}
ul.bonus_area li {
  color: #FFFDFD;
  float: left;
  width: 20%;
  img{
    &.hidden{
      visibility: hidden;
    }
  }
}
/*応募ボタンの大きさ調整*/
.stamp .oubo {
  width: 80%;
  margin: 0 auto;
}
.aligneleft {
  width: 50%;
  height: auto;
  float: left;
  margin-right: 10px;
}
.remodal_txt {
  padding: 0 0.5em;
  text-align: left;
}
// スタンプ帳ダイアログ(ログインボーナス) モーダルではないpsd
//--------------------------------------------------------- */
.remodel_2 {
  background-color: #fff;
  position: relative;
  border: solid 5px #f7bc28;
  box-shadow: inset 0 0 0 1px #ee993b;
  border-radius: 15px;
  width: 90%;
  @extend %cf;
  margin: 0 auto 2em;
}
.remodel_2 section {
  margin: 0 auto;
  padding: 0 5%;
  overflow: auto;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
.remodel_2 h3.login {}
.remodel_2 h3.login img {
  width: 90%;
  height: auto;
  margin: -20px 0 0 16%;
}
.remodel_2 ul.bonus_area {
  margin: 0 auto 2%;
  @extend %cf;
}
.remodel_2 ul.bonus_area li:after {
  content: '';
}
.remodel_2 ul.bonus_area li:nth-child(1) {
  background: url("/common/images/launcher/home/stamp_1.gif") no-repeat left center;
  background-size: 100%;
  padding: 10px 0;
}
.remodel_2 ul.bonus_area li:nth-child(2) {
  background: url("/common/images/launcher/home/stamp_2.gif") no-repeat left center;
  background-size: 100%;
  margin: 10% 0 0;
  padding: 10px 0;
}
.remodel_2 ul.bonus_area li:nth-child(3) {
  background: url("/common/images/launcher/home/stamp_3.gif") no-repeat left center;
  background-size: 100%;
  margin-top: 0;
  padding: 10px 0;
}
.remodel_2 ul.bonus_area li:nth-child(4) {
  background: url("/common/images/launcher/home/stamp_4.gif") no-repeat left center;
  background-size: 100%;
  margin: 10% 0 0;
  padding: 10px 0;
}
.remodel_2 ul.bonus_area li:nth-child(5) {
  background: url("/common/images/launcher/home/stamp_5.gif") no-repeat left center;
  background-size: 100%;
  margin-top: 0;
  padding: 10px 0;
}
.remodel_2 ul.bonus_area li {
  color: #FFFDFD;
  float: left;
  width: 20%;
}
.loginb_area .aligneleft {
  width: 40%;
  height: auto;
  float: left;
  margin: 0 10px;
}
.loginb_text {
  width: 50%;
  float: right;
}
.loginb_area {
  margin: 0.5em auto 1em;
  @extend %cf;
  //display: none;
}
.loginb_area h3 {
  font-size: 40px;
  font-weight: bold;
}
/*スペシャルプレゼント*/
.remodel_2.red_border {
  border: solid 5px #d91e3b;
  box-shadow: inset 0 0 0 1px #8e0000;
  position: relative;
  h3.special {
    margin-top: -5%;
    position: absolute;
    top: -0.2em;
    right: 0;
    width: 100%;
  }
}
.month img {
  display: block;
  margin: 0 auto;
}
figure.month {
  position: relative;
}
figure.month .month_app {
  position: relative;
  top: 30px;
  //margin-top: -10%;
}
figure.month img.month_app {
  width: 70%;
  height: auto;
}
img.back {
  margin-bottom: 0;
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 100;
  width: 85px;
  height: auto;
  @media screen and (min-width: 567px) {
  }
}
.month_emphasis {
  margin: 25% auto 1em;
  padding: 1em 0;
  text-align: center;
  dl {
    display: inline-table;
    position: relative;
    width: auto;
    margin: 0 auto;
    padding: 1em;
    border: solid 1px #EEE;
    border-radius: 5px;
	background:#fff;
    &:after {
      display: block;
      position: absolute;
      top: -16%;
      left: 0;
      width: 100%;
      padding-top: 15.7%;
      background: url('/common/images/launcher/home/month.png') no-repeat center top;
      background-size: 110px;
      content: '';
    }
    dd,
    dt {
      display: table-cell;
      vertical-align: middle;
    }
    dt {
      padding-right: 3.3%;
    }
    dd {
      font-weight: bold;
      text-align: left;
    }
  }
}
// スタンプ帳ダイアログ(ログインボーナス) 2
//--------------------------------------------------------- */
#contents section.inner {
  padding-bottom: 1em;
  min-height: 14.5em;
  @media screen and (min-width: $tablet) {
    min-height: 27em;
  }
}
.remodel_2{
  .month{
    position: static;
    &.pt{
      .month_emphasis:after {
        top: 9%;
        @media screen and (min-width: 420px) {
          top: -10%;
        }
      }
    }
    .month_emphasis {
      margin: 25% auto 1em;
      padding: 1em 0;
      @media screen and (min-width: 420px) {
        position: relative;
      }
      &:after{
        position: absolute;
        top: 7%;
        right: -5%;
        width: 25%;
        max-width: 100px;
        padding-top: 19%;
        background: url(/common/images/launcher/home/special_comment.png) no-repeat;
        background-size: contain;
        content: '';
        @media screen and (min-width: 420px) {
          top: -15%;
        }
        @media screen and (min-width: 768px) {
          right: 10%;
        }
      }
      dl {
        position: relative;
        margin: 0 auto;
        box-sizing: border-box;
        &:after {
          display: block;
          position: absolute;
          top: -18%;
          left: 0;
          padding-top: 17.5%;
          background: url('/common/images/launcher/home/month_02.png') no-repeat center top;
          background-size: 50% auto;
          content: '';
          @media screen and (min-width: 500px) {
            background-size: 180px !important;
          }
        }
      }
    }
  }
}
.stamp_2 {
  .remodel_2.red_border {
    margin-bottom: 15px;
  }
  section.inner {
    position: relative;
  }
  .remodel_2 ul.bonus_area {
    margin: 0 auto;
  }
  .login_bonus {
    margin-top: 0;
  }
}
section.inner {
  &.stamp_detail {
    margin-bottom: 0;
  }
}

// スタンプ帳ダイアログ(L-D-2)
//--------------------------------------------------------- */
.stampbook {
  padding: 0 5% !important;
  margin-bottom: 2em;
  ul {
    overflow: hidden;
    width: 100%;
    li {
      float: left;
      width: 20%;
      padding: 0.4em 0 2em;
      img {
        width: 85%;
        margin-top: 1em;
      }
    }
    li:nth-child(1) {
      background: url("/common/images/launcher/home/stamp_02_1.png") no-repeat left center;
      background-size: 100%;
    }
    li:nth-child(2) {
      background: url("/common/images/launcher/home/stamp_02_2.png") no-repeat left center;
      background-size: 100%;
    }
    li:nth-child(3) {
      background: url("/common/images/launcher/home/stamp_02_3.png") no-repeat left center;
      background-size: 100%;
    }
    li:nth-child(4) {
      background: url("/common/images/launcher/home/stamp_02_4.png") no-repeat left center;
      background-size: 100%;
    }
    li:nth-child(5) {
      background: url("/common/images/launcher/home/stamp_02_5.png") no-repeat left center;
      background-size: 100%;
    }
    .hidden {
      visibility: hidden;
    }
  }
  h3.special {
    margin-bottom: 1em;
  }
  .month_emphasis {
    margin: 0 auto;
    padding-bottom: 1em;
  }
  .center{
    margin-top: 1em;
  }
}
// L-D-7 : 会員登録のご案内
//--------------------------------------------------------- */
.guide {
  .txt {
    margin-bottom: 2em;
  }
  .red {
    //width: 60%;
    font-size: 1.4em;
  }
}
// L-3-4 : 情報の登録
//--------------------------------------------------------- */
.confirm_config {
  .kids_confirm {
    clear: both;
    @extend %cf;
  }
  .kids_confirm dl {
    width: 45%;
    display: table;
    background-color: #f36e12;
    border-radius: 5px;
    padding: 2px 0 2px 8px;
    margin: 0 0 1em;
    border: 1px solid #f36e12;
    float: left;
  }
  .kids_confirm dl.right {
    float: right;
  }
  @media screen and (max-width: 567px) {
    .kids_confirm dl {
      width: 100%;
    }
    .kids_confirm dl.right {
      float: none;
      //margin-bottom: 0;
    }
    .kids_confirm {
      width: auto;
      margin: 0 2.5%;
    }
  }
  .kids_confirm dt {
    display: table-cell;
    color: #fff;
    width: 40%;
  }
  .kids_confirm dd {
    display: table-cell;
    background-color: #fff;
    border-radius: 5px;
    padding: 4px 0 4px 7px;
    width: 50%;
  }
  .config_btn {
    width: 86.6%;
    clear: both;
    @include flex;
    margin: 5px auto;
    a {
      width: 47.5%;
      vertical-align: top;
      &:first-child{
        margin-right: 5%;
      }
    }
  }
}
// L-3-4-2 : 子ども情報の登録 1
//--------------------------------------------------------- */
.register_area {
  margin: 0 auto;
  .selectBox.gender {
    width: 42%;
  }
  .timer{
    dd{
      display: table;
      float: left;
      max-width: 517px;
      width: 60%;
      > div{
        display: table-cell;
        vertical-align: middle;
        &:first-child{
          width: 75px;
          padding-top: .5em;
        }
        &:last-child{

        }
      }
    }
  }
}
.register_area dl {
  overflow: hidden;
  margin-bottom: 1em;
}
.register_area dt {
  width: 32%;
  float: left;
  padding-top: 0.5em;
}
.register_area dd {
  width: 65%;
  float: right;
}
.age_txt {
  font-size: 0.8em;
}
.register_area .selectBox {
  width: 100%;
}
.register_area input {
  width: 50%;
  padding: 0.5em 0.2em !important;
}
// L-3-4_setting : 子ども情報の変更
//--------------------------------------------------------- */
.setting {
  h1 {
    padding: 0.1em 1em;
  }
  p {
    margin-bottom: 0;
    padding: 1em 0;
  }
  li {
    border-top: solid 1px #fff;
    font-size: 1.2rem;
    &.half {
      &:nth-of-type(odd) {
        border-right: none!important;
      }
    }
  }
}
// L-3-7 : ヘルプ
//--------------------------------------------------------- */
.help {
  .inner {
    padding-top: 0 !important;
  }
  .accordion{
    dl{
      background-color: #FBFAE9;
      &.active{
        background-color: #FBF5DE;
      }
    }
  }
}
// スタンプ帳ダイアログ(ログインボーナス) テスト
//--------------------------------------------------------- */
.remodel_3 {
  position: relative;
  padding: 2px;
  border: solid 5px #f7bc28;
  box-shadow: inset 0 0 0 1px #ee993b;
  border-radius: 15px;
  width: 90%;
  margin: 10% auto;
  @extend %cf;
}
.remodel_3 h3.login {
  position: absolute;
  top: -2%;
  z-index: 5;
}
.remodel_3 h3.login img {
  width: 90%;
  height: auto;
  margin: 15px 0 10px 18%;
}
.remodel_3 ul.bonus_area {
  margin: 0 auto 2%;
  @extend %cf;
  background: url("/common/images/launcher/home/bonus_bg.png") no-repeat;
  background-size: 100%;
}
.remodel_3 ul.bonus_area li:after {
  content: '';
}
.remodel_3 ul.bonus_area li:nth-child(1) {
  background: none;
  padding: 10px 0;
}
.remodel_3 ul.bonus_area li:nth-child(2) {
  background: none;
  margin: 10% 0 0;
  padding: 10px 0;
}
.remodel_3 ul.bonus_area li:nth-child(3) {
  background: none;
  margin-top: 0;
  padding: 10px 0;
}
.remodel_3 ul.bonus_area li:nth-child(4) {
  background: none;
  margin: 10% 0 0;
  padding: 10px 0;
}
.remodel_3 ul.bonus_area li:nth-child(5) {
  background: none;
  margin-top: 0;
  padding: 10px 0;
}
.remodel_3 ul.bonus_area li {
  background: none;
  color: #FFFDFD;
  float: left;
  width: 20%;
}
.loginb_area .aligneleft {
  width: 40%;
  height: auto;
  float: left;
  margin: 0 10px;
}
.loginb_text {
  width: 50%;
  float: right;
}
.loginb_area {
  //margin: 15% auto 10%;
  @extend %cf;
}
.loginb_area h3 {
  font-size: 40px;
  font-weight: bold;
}
//  L-0 : 利用許諾
//--------------------------------------------------------- */
.license, .privacy{
  padding-bottom: 10%;
  .confirm_area, .pageclose{
    position: fixed;
    bottom: 0;
    width: 100% - 6.6;
    max-width: 888.94px;
    margin-bottom: 0;
    padding: 3.3%;
    background-color: #faf9e8;
  }
  .confirm_area{
    .paragraph{
      font-size: 1.4rem;
    }
  }
}
.license {
  .btn {
    background-color: #fff;
  }
  #submit {

  }
  #submit[disabled] {
    background-color: #fff;
    color: #DBDBDB!important;
  }
}
// L-0-1 : アプリケーションプライバシーポリシー詳細版
//--------------------------------------------------------- */
.privacy {
  .pageclose {
    // width: 100%;
    // // max-width: 960px;
    // position: fixed;
    // bottom: 10px;
    // z-index: 2;
    // /* padding: 10px 20px !important; */
    text-align: center;
    .btn {
      padding: 0.5em 0;
    }
  }
}
//L-3-1 : アプリダウンロードポップアップ
//--------------------------------------------------------- */
.app_ttl {
  width: 88px;
  float: left;
  padding: 0 15px 15px 0;
}
.app_ttl_area {
  width: 90%;
  margin: 10px auto;
}
.remodal .txt.app_detail h3 {
  font-size: 1.4rem;
}
.remodal .txt.app_detail p {
  margin-bottom: 5px;
}
.remodal .txt.app_detail h3,
.remodal .txt.app_detail p {
  text-align: left;
}
.button_area {
  clear: both;
}
.remodal .button_area .buttons li input {
  width: auto;
}
.remodal .button_area .buttons .back {
  width: auto;
}
//c-2規約
//--------------------------------------------------------- */
.rule ol li {
  list-style-type: none;
}
//c-3　提供事業者等に関する表示（dキッズ）
//--------------------------------------------------------- */
.provide {
  dt {
    margin-top: 10px;
  }
  dd {
    padding-left: 7px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 2px;
  }
  .tel {
    margin-left: -5px;
  }
  .ajust {
    padding-left: 10px;
  }
  .credit dt {
    font-weight: bold;
  }
}
//
//--------------------------------------------------------- */
//L-1　子ども情報の変更/削除
//--------------------------------------------------------- */
.initial {
  form.module {
    padding: 0 !important;
  }
  .inner {
    width: 100%;
    background: #faf9e8;
    section#initialtab {
      width: 95%;
      margin: 0 auto;
      padding-top: 1.4em;
      .tabNav {
        background-color: #faf9e8;
        overflow: hidden;
        font-size: 0;
        li {
          display: inline-block;
          border-radius: 10px 10px 0 0;
          background-color: #ccc;
          font-size: 1.2rem;
          width: 18%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          padding: 0.6em 0.3em;
          &:nth-child(1) {
            z-index: 3;
          }
          &:nth-child(2) {
            z-index: 2;
          }
          &:nth-child(3) {
            z-index: 1;
          }
          &:nth-child(4) {
            z-index: 1;
          }
          &.active {
            background-color: #fff;
            z-index: 3;
            white-space: inherit;
            text-overflow: inherit;
            width: auto;
          }
          a {
            //display: block;
            //padding: 0.6em;
            color: #333!important;
            text-decoration: none;
          }
        }
      }
      .tabBody {
        margin: 0 auto;
        background: #fff;
        width: 100%;
        .register_area {
          padding: 1em 0.5em 0;
        }
        .register_area_02 {
          padding: 0 0 0 0.5em;
          dl {
            overflow: hidden;
          }
          dt {
            float: left;
            width: 20%;
            padding: 0.5em 0;
          }
          dd{
            label[for^="gender01"]{
              line-height: inherit;
            }
          }
        }
        .btn_area {
          margin: 1em 0.5em 0;
          border-top: $border-default;
          padding: 1em 0;
          .confirm_area {
            margin-top: 2em;
            margin: 2em auto;
          }
        }
      }
    }
  }
}


//--------------------------------------------------------- */
//L-2　チュートリアル
//--------------------------------------------------------- */

#contents.tutorial{
	background:url(/common/images/launcher/tutorial/bg.jpg) no-repeat left bottom;
	background-size:cover !important;
	background-position:bottom;

	.inner{
		max-width:100% !important;
		background-color:transparent;
	}
  .gallery-cell {
    width: 300px;
    margin-bottom: 5%;
    background: #8C8;
    counter-increment: gallery-cell;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #a7a7a7;
    -moz-box-shadow: 0px 0px 5px 1px #a7a7a7;
    -webkit-box-shadow: 0px 0px 5px 1px #a7a7a7;
    box-sizing: border-box;
    .title {
      background: #f48a00;
      color: #fff;
      padding: 5px;
      text-align: center;
      font-size: 1.6rem;
      font-weight: bold;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
    }
    .gallery-inner {
      padding: 0 10px 50px 10px;
      .image{
        margin-bottom: 3em;
      }
    }
    .heading {
      margin-bottom: .5em;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }

}




/* =========================================================
 TABLET
========================================================= */
@media screen and (min-width: $tablet) {
  .launcher {
    &.home {
      .app {
        &.recommend,
        &.try {
          ul {
            max-width: 1050px;
            li {
              display: inline-block;
              width: 45.5%;
              &:nth-child(2n+2) {
                margin-right: 0 !important;
              }
            }
          }
        }
        &.pickup {
          .tag {
            width: 100%;
            text-align: center;
          }
        }
        ul {
          //width: 96%;
          li {
            margin-right: 10px !important;
            &:nth-child(6n+6) {
              margin-right: 10px !important;
            }
          }
        }
      }
    }
  }
  .stampbook {
    ul {
      li {
        padding: 1em 0 3em;
      }
    }
  }
  // high
  //--------------------------------------------------------- */
  .launcher.high {
    &.home {
      .app {
        ul {
          li {
            &:nth-child(6n+6) {
              margin-right: 10px !important;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .launcher.home .app{
    &.nomore:after {
      display: none;
    }
    ul.horizon-swiper.disabled  {
      width: 941px;
      .horizon-inner {
        padding-left: 0 !important;
      }
    }
  }
}
@media (min-width: 1050px) {
  .launcher.home .app ul.horizon-swiper.disabled {
    width: 1045px;
  }
  .launcher.home.low .app > ul:not(.horizon-swiper){
      width: 1045px !important;
  }
}
// @media (min-width: 737px) and (max-width: 1024px) and (orientation:landscape) {
//   .launcher.home.high {
//     .app {
//       &:after {
//         display: none;
//       }
//     }
//   }
// }
// @media (min-width: 737px) and (orientation:landscape) {
//   .app ul {
//     max-width: 1045px;
//     &.horizon-swiper {
//       padding-left: 0;
//       .horizon-inner {
//         padding-left: 0;
//         white-space: normal;
//         overflow: auto;
//         text-align: left;
//       }
//     }
//     .horizon-outer {
//       max-height: none !important;
//     }
//   }
// }
