@charset "UTF-8";
@import "_vars.scss";
/* =========================================================
 DEFAULT STYLE
========================================================= */
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.449em;
  font-family: $sansSerif;
  -webkit-text-size-adjust: 100%;
  line-height: 1.6;
  color: $fontColor;
}
html.h100{
  background-color: #faf9e8;
  height: 100%;
  body{
    height: 100%;
  }
}
@media print {
  body {
    font-size: 1.4rem;
    font-family: 'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
p {
  margin-bottom: 1em;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2 {
  background-color: #f48a00;
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFF;
  padding: 0.1em 2.5%;
}
h1 {
  @media screen and (max-width: 419px) {
    + .selectBox {
      top: 15% !important;
    }
  }
}
@include linkColor($linkColor);
@include cf;
button,
input,
taxtarea {
  font-family: $sansSerif;
}
input {
  &[type=checkbox],
  &[type=radio] {
    display: none;
    + label {
      &:after,
      &:before {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 0.3em;
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        content: '';
      }
    }
  }
  &[type=checkbox] {
    + label{
      &:after,
      &:before {
        background-image: url("/common/images/common/form_checkbox_off.png");
      }
      &:after {
        display: none;
      }
    }
    &.cbAfter {
      + label{
        &:before {
          display: none;
        }
        &:after {
          display: inline-block;
        }
      }
    }
    &:checked {
      + label{
        color: #f48a00;
        &:after,
        &:before {
          background-image: url("/common/images/common/form_checkbox_on.png");
        }
        &:after {
          display: none;
        }
      }
      &.cbAfter {
        + label{
          &:before {
            display: none;
          }
          &:after {
            display: inline-block;
          }
        }
      }
    }
  }
  &[type=radio] {
    & + label:before{
      background-image: url("/common/images/common/form_radio_off.png");
    }
    &:checked + label{
      color: #f48a00;
      &:before {
        background-image: url("/common/images/common/form_radio_on.png");
      }
    }
  }
  &.switch {
    + label {
      display: inline-block;
      width: 67px;
      height: 32px;
      background: url("/common/images/common/form_switch_off.png") no-repeat;
      background-size: contain;
      &:before {
        display: none;
      }
    }
    &:checked + label {
      background-image: url("/common/images/common/form_switch_on.png");
    }
  }
  &[type="button"],
  &[type="reset"],
  &[type="submit"] {
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    background-color: #FFF;
    &:-webkit-search-decoration {
      display: none;
    }
    &:focus {
      outline-offset: -2px;
    }
  }
  &[type="submit"]{
    @include fontSize(1.4);
    &[disabled]{
      opacity: .7;
    }
  }
}
select {
  vertical-align: middle;
  &::-ms-expand {
    display: none;
  }
}
.selectWrap {
  width: 290px;
  margin: 0 auto 1.5em;
  .selectBox {
    margin-right: 3px;
  }
}
.selectBox {
  display: inline-block;
  position: relative;
  width: 139px;
  border-radius: 5px;
  background: #FFF url("/common/images/common/select_arrow.png") top right no-repeat;
  background-size: contain;
  &.glay {
    &:after {
      border: none;
      box-shadow: none;
      background-color: transparent;
      font-size: 0.8rem;
      color: #666;
    }
  }
  &.noRadius {
    select {
      border-radius: 2px;
    }
    &:after {
      border-radius: 0 2px 2px 0;
    }
  }
}
.selectBox select {
  width: 100%;
  padding: 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(#000, .08), inset 0 -9px 2px -7px rgba(0, 0, 0, .5);
  color: #AAA;
  background-color: transparent;
  &.selected {
    color: inherit;
  }
}
.youtube {
  position: relative;
  padding: 30px 0 52.15%;
  max-width: 480px;
  height: 0;
  margin: 0 auto 1em;
  overflow: hidden;
  @media screen and (max-width: 760px) {
    padding-bottom: 51.95%;
  }
  @media screen and (max-width: 560px) {
    padding-bottom: 50.55%;
  }
  @media screen and (min-width: 514px) {
    padding: 0;
    width: 480px;
    height: 270px;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.toInquiry{
  margin-bottom: 2em;
  p:first-child{
    width: 17em;
    margin: 0 auto 1em;
  }
}
.sp {
  display: block;
}
.tb {
  display: none;
}
/* =========================================================
 LAYOUT
========================================================= */
#my-menu {
  .mm-list {
    li {
      a {
        padding: 1em 3em 1em 1em;
        border-bottom: #ccc solid 1px;
      }
    }
    li:after {
      position: absolute;
      top: 20%;
      right: 15px;
      content: '\f105';
      font-family: FontAwesome;
      font-size: 1.6rem;
      color: #000;
    }
  }
}
header {
  display: table;
  width: 100%;
  height: 52px;
  padding: 0 5px;
  box-sizing: border-box;
  border-bottom: solid 1px $border-color;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 2;
  .inner,
  .logo {
    display: table-cell;
    vertical-align: middle;
  }
  .logo {
    width: 23%;
    height: 52px;
    img {
      height: 18px;
      width: auto;
    }
  }
  .inner {
    width: 72%;
    height: 52px;
    font-size: 1rem;
    text-align: right;
    .point {
      display: inline-block;
      position: relative;
      width: 130px;
      margin: 0 4px;
      height: 37px;
      //padding: 0 5px;
      //border: solid 1px $border-color;
      //border-radius: 4px;
      text-align: left;
      vertical-align: middle;
      font-size: 0;
      a {
        display: block;
        ul {
          display: block;
          vertical-align: middle;
          width: 123px;
          height: 37px;
          li {
            display: block;
            vertical-align: middle;
            font-size: 0.8rem;
            line-height: 1;
            padding: 1px 0 0 20px;
            //margin:0px 8px 0px 0;
            .point-inner {
              padding-top: 3px;
              padding-bottom: 5px;
              &.border {
                border-bottom: solid 1px $border-color;
                padding-top: 5px;
                padding-bottom: 3px;
                //margin-bottom:1px;
              }
            }
            &.dPoint {
              background: url("/common/images/common/header_dpoint_icon.gif") no-repeat left 5px;
              background-size: 15px auto;
            }
            &.docomoPoint {
              background: url("/common/images/common/header_docomo_point_icon.gif") no-repeat left 1px;
              background-size: 15px auto;
              padding-bottom: 4px;
            }
            p {
              float: right;
              text-align: right;
              padding-right: 5px;
              vertical-align: bottom;
            }
            img {
              vertical-align: bottom;
              width: 42px;
              height: auto;
            }
          }
        }
        &:after {
          display: inline-block;
          border-radius: 0 2px 2px 0;
          position: absolute;
          top: 0;
          right: 0;
          width: 7px;
          padding: 10px 0 11px;
          background-color: $red;
          text-align: center;
          content: "\f105";
          font-family: $icon;
          font-size: 1rem;
          color: #FFF;
        }
      }
      p {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        font-size: 1rem;
        &:first-child {
          padding-right: 0.5em;
        }
        span {
          font-size: 1rem;
          color: #999;
        }
      }
    }
  }
  .menu {
    vertical-align: middle;
  }
  .menu.right {
    display: inline-block;
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 1px;
      img {
        width: 37px;
        height: 37px;
      }
      &:last-child {
        margin: 0 0 0 1px;
      }
    }
    img {
      vertical-align: top;
    }
  }
}
#contents {
  max-width: 100%;
  overflow: hidden;
  .headerPadding & {
    padding-top: 53px;
  }
  .account {
    display: table;
    width: 100%;
    height: 26px;
    border-bottom: solid 1px $border-color;
    background-color: #FFF;
    dd,
    dt {
      display: table-cell;
      box-sizing: border-box;
    }
    dt {
      width: 70px;
      border-right: solid 1px $border-color;
      padding: 2px 2px 2px 7px;
      img {
        width: auto;
      }
    }
    dd {
      position: relative;
      font-size: 0.8rem;
      padding: 2px 8px 2px 5px;
      font-size: 1.2rem;
      &:after {
        position: absolute;
        top: 4px;
        right: 2.5%;
        content: "\f105";
        font-family: $icon;
        font-size: 1.2rem;
      }
    }
  }
  .information {
    margin-bottom: 0;
    padding: .8em 2.5%;
    color: #dc1e3c;
    font-size: 1.3rem;
    background: #fff;
  }
  .information a {
    color: #dc1e3c;
  }
}
footer {
  position: relative;
  @include bgHeight(1080, 838);
  background: url("/common/images/common/footer_bg.jpg") no-repeat;
  background-size: contain;
  .timeLeft {
    position: fixed;
    left: 0;
    bottom: 10px;
    min-width: 98px;
    height: 46px;
    padding: 10px 15px 10px 10px;
    border-radius: 0 40px 40px 0;
    background-color: #fff;
    box-shadow: 0 2px 3px 2px rgba(#000, .25);
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 100;
    p {
      line-height: 1.1;
      &:nth-child(1) {
        span {
          font-size: 2rem;
        }
      }
      &:nth-child(2) {
        color: $red;
        span {
          &:nth-child(1) {
            display: inline-block;
            margin: 0 5px 0 2px;
            padding: 0.25em;
            border: solid 1px;
            border-radius: 50px;
            vertical-align: super;
            font-size: 1rem;
          }
          &:nth-child(2) {
            font-size: 2rem;
          }
        }
      }
    }
  }
  p {
    margin-bottom: 0;
    &.stamp,
    &.viewAll {
      position: fixed;
      right: 10px;
      z-index: 100;
    }
    &.stamp {
      bottom: 90px;
      img{
        margin-right: 3px;
      }
    }
    &.viewAll {
      bottom: 5px;
    }
  }
  .copyright {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    padding: 5px 0 14%;
  }
}
/* =========================================================
 MODULE
========================================================= */
#contents {
  #mainVisual {
    text-align: center;
    img {
      vertical-align: top;
    }
  }
  // SEARCH
  //--------------------------------------------------------
  &.search {
    .app {
      h2 {
        @include title(rgba(#dc1e3c, .2));
      }
      .filtering {
        width: 290px;
        margin: 0 auto 1.5em;
        h3 {
          margin-bottom: 0.5em;
        }
        .selectBox {
          margin-right: 3px;
        }
      }
      ul li a p{
        width: 7em;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
  section.inner {
    padding: 1.4em 0 3em;
    .heading1,
    h1 {
      margin-bottom: 1em;
      &:not(:first-child) {
        margin-top: 2.5em;
      }
    }
    h2 {
      position: relative;
      padding: 0 0 0.5em 0.5em;
      margin-bottom: 0.8em;
      border-bottom: solid 1px #AAA;
      line-height: 1.4;
      background-color: transparent;
      font-size: 1.6rem;
      font-weight: bold;
      color: inherit;
      &:before{
        display: block;
        position: absolute;
        top: .2rem;
        left: 0;
        width: 3px;
        height: 72.5%;
        background-color: $link;
        content: '';
      }
    }
    h3 {
      margin-bottom: 0.5em;
      font-size: 1.4rem;
      font-weight: bold;
    }
    p:last-child {
      margin-bottom: 0;
    }
    a {
      color: $link;
      text-decoration: underline;
    }
  }
  article {
    margin: $atmg;
    &.paragraph {
      margin-bottom: 1em;
      &.w100{
        width: 100%;
        margin: 0;
      }
    }
    &.item {
      margin-bottom: 1em;
      padding-bottom: 1.5em;
      &:nth-last-of-type(1) {
        margin-bottom: 3em;
        & + img{
          vertical-align: top;
        }
      }
      .appName{
        margin-bottom: 0;
        font-size: 1.2rem;
        color: #999;
      }
      .inner {
        display: table;
        .txt,
        figure {
          display: table-cell;
          vertical-align: top;
        }
        figure {
          width: 33.3%;
          padding-right: 3.3%;
          text-align: center;
          img {
            vertical-align: text-top;
          }
        }
      }
      &.narrow {
        .inner {
          figure {
            width: 18.5%;
            img {
              margin-bottom: 0.5em;
            }
          }
        }
      }
    }
  }
  .listItem {
    padding: $atmg;
    margin-bottom: 2em;
    ul {
      li {
        padding-left: 0.6em;
        background: url("/common/images/common/li_01_bg.png") no-repeat left 0.7em;
        background-size: 4px;
      }
    }
  }
  .emphasis {
    margin-bottom: 2em;
    padding: 1em 3.3% 3.3%;
    dl {
      display: table;
      dd,
      dt {
        display: table-cell;
        vertical-align: middle;
      }
      dt {
        width: 18.5%;
        padding-right: 3.3%;
      }
      dd {
        width: 71.6%;
        font-weight: bold;
      }
    }
  }
  .button {
    margin-bottom: 0;
    img {
      vertical-align: bottom;
    }
  }
  .heading.account {
    position: relative;
    background-color: #f48a00;
    padding: 0.8em 0;
    h1 {
      margin-bottom: 0 !important;
      font-size: 1rem;
      span {
        font-size: 1.5rem;
      }
    }
    &.login {
      h1 {
        &:after {
          display: inline-block;
          width: 49px;
          height: 11px;
          margin-left: 0.5em;
          background: url("/common/images/common/icon_login.png") no-repeat;
          background-size: contain;
          content: '';
        }
      }
    }
    .selectBox {
      position: absolute;
      top: 0.6em;
      right: 1.5%;
      width: 80px;
      background-image: url("/common/images/common/select_arrow_bk.png");
      background-position: 91% center;
      background-size: 7px;
      .android & {
        width: 7em;
      }
      select {
        color: #666;
        font-weight: bold;
        font-size: 1.1rem;
      }
    }
  }
  nav.list,
  nav.settingList {
    background: none;
    letter-spacing: -1px;
    background: #fff;
    @extend %tbWidth;
    ul {
      @include flex;
      align-items: center;
      -webkit-justify-content: center;
      border-top: solid 1px;
      font-size: 0;
      .android & {
        display: block;
      }
      &.borderTopNone {
        border-top: none;
      }
      &.btmSpace {
        border-bottom: none;
        &:after {
          display: block;
          width: 100%;
          height: 15px;
          border-top: solid 1px #fff;
          background-color: rgba(#ddd, .6);
          content: '';
        }
      }
      li {
        align-items: center;
        position: relative;
        width: 100%;
        padding: 1em 3em 1em 1em;
        border-bottom: solid 1px;
        box-sizing: border-box;
        font-size: 1.4rem;
        .android & {
          display: inline-block;
        }
        &.half {
          &:nth-of-type(odd) {
            border-right: solid 1px;
          }
        }
        &:after {
          position: absolute;
          top: 20%;
          right: 15px;
          content: '\f105';
          font-family: $icon;
          font-size: 1.6rem;
          @media screen and (max-width: 330px) {
            right: 5%;
          }
        }
        a {
          display: block;
          text-decoration: none;
          color: inherit;
        }
        &.borderTopNone {
          border-top: none;
        }
        &.recommend {
          a {
            padding-right: 10%;
          }
          &:after {
            top: 45%;
          }
        }
        &.half {
          width: 50%;
          font-size: 1rem;
          // min-height: 5.5em;
          // padding-right: 1em;
          // padding-left: 0.5em;
          .android & {
            width: 49.999998%;
          }
        }
        .heading {
          margin-bottom: 0.5em;
          border-bottom: solid 1px #e4e3e3;
          font-size: 1.4rem;
          &:before {
            margin-right: 0.3em;
            vertical-align: baseline;
            font-family: $icon;
            font-size: 1.5rem;
            color: $link;
            content: '\f06a';
          }
        }
      }
    }
  }
  nav.list {
    ul,
    ul li,
    ul li.half:nth-child(odd) {
      border-color: #e7e6e5;
    }
  }
  nav.settingList {
    background: url("/common/images/common/setting_bg.jpg") no-repeat;
    background-size: cover;
    $borderColor: #c4c5c5;
    ul,
    ul li,
    ul li {
      border-color: $borderColor;
    }
    ul {
      li {
        border-top: solid 1px #fff;
        font-size: 1.2rem;
        &.half {
          &:nth-of-type(odd) {
            border-right: solid 1px $borderColor;
          }
          &:nth-of-type(even) {
            border-left: solid 1px #fff;
            border-right: solid 1px $borderColor;
          }
        }
      }
    }
  }
}
.btn {
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(#000, .08), inset 0 -9px 2px -7px rgba(0, 0, 0, .5);
  background-color: #f9f9f9;
  text-align: center;
  text-decoration: none !important;
  color: $fontColor !important;
  background-color: #f0f0f0;
  &.red {
    background-color: $btn;
    color: #FFF !important;
  }
  &.orange{
    background-color: #f9a02d;
    color: #FFF !important;
  }
  &.gray{
    //background-color: #f0f0f0
  }
  &.iblock {
    display: inline-block;
    width: 80%;
    box-sizing: border-box;
    padding: 0.5em 20px;
  }
  &.wide{
    width: 86.6%;
  }
  &.wide-l{
    width: 92.3%;
  }
}

.confirm_area {
  font-size: 0;
  width: 80%;
  margin: 15px auto;
  clear: both;
  text-align:center;
  &.mb{
    margin-bottom: 2rem;
  }
  &.wide{
    width: 86.6%;
  }
  ul{
	  text-align:center;
  }
  li {
    width: 47.5%;
	  display: inline-block;
	  vertical-align: middle;
  }
  .btn {
    display: inline-block;
    width: 47.5%;
    box-sizing: border-box;
    font-size: 1.4rem;
    &:first-child {
      margin-right: 5%;
    }
  }
}

.activebtn {
  display: block;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(#000, .08), inset 0 10px 2px -7px rgba(0, 0, 0, .5);
  background-color: #df344f;
  text-align: center;
  text-decoration: none !important;
  color: #fff !important;
}
.cell {
  @extend %cf;
  dd,
  dt {
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    border-top: solid 1px $border-color;
    &:nth-of-type(1) {
      border-top: none;
    }
  }
  dt {
    float: left;
    width: 27%;
    padding-right: 3%;
    font-weight: bold;
    &:nth-last-of-type(1) {
      border-bottom: none;
    }
  }
  dd {
    float: left;
    width: 70%;
    &:nth-last-of-type(1) {
      border-bottom: none;
    }
    &:after {
      clear: both;
    }
  }
}
.accordion {
  margin-bottom: 2em;
  dl {
    border-bottom: solid 1px $border-color;
    &:first-child {
      border-top: solid 1px $border-color;
    }
    &.active {
      background-color: #faf2d5;
      dt {
        &:before {
          content: '\f106';
        }
      }
    }
    dt {
      position: relative;
      padding: 1em 10% 1em 3.3%;
      &:before {
        position: absolute;
        top: 20%;
        right: 6.6%;
        display: block;
        content: '\f107';
        font-family: $icon;
        font-size: 2rem;
      }
    }
    dd {
      display: none;
      margin: $atmg;
      padding: 1em 0;
      border-top: solid 1px $border-color;
    }
  }
}
.app {
  padding-bottom: 0.5em;
  background-size: cover;
  &.new {
    background-image: url("/common/images/launcher/home/new_bg.png");
    h2 {
      @include title(rgba(#c70221, .2));
    }
  }
  h2 {
    margin-bottom: 8px;
    padding: 1% 0 0.5%;
    text-align: center;
  }
  > ul {
    width: 93.4%;
    margin: 0 auto;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    @include flex;
    font-size: 0;
    li > a > p{
      width: 7em;
      margin: 0 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
    // &.slick-slider{
    //   justify-content: flex-start;
    //   .slick-track{
    //     padding-top: 10px;
    //   }
    //   .slick-list{
    //     overflow: visible;
    //   }
    //   li{
    //     width: 82px;
    //
    //   }
    // }
    &.horizon-swiper {
      width: 100%;
      .horizon-outer{
        width: 100%;
      }
      .horizon-inner {
        padding-left: 3.3%;
        text-align: left;
      }
      .horizon-item {
        white-space: normal;
        @media screen and (max-width: 1050px) {
          &:last-child{
            margin-right: 3.3% !important;
          }
        }
      }
    }
    > li,
    li.horizon-item {
      display: inline-block;
      width: 90px;
      margin: 15px 4.5px 0;
      border-radius: 12px;
      box-sizing: border-box;
      box-shadow: 0 0 0 3px rgba(0, 0, 0, .05), inset 0 -9px 2px -5px rgba(0, 0, 0, .5);
      padding: 3px 4px;
      background-color: #FFF;
      vertical-align: top;
      text-align: center;
      font-size: 1.4rem;
      &.new {
        position: relative;
        &:before {
          display: block;
          position: absolute;
          top: -18px;
          left: 50%;
          margin-left: -35px;
          width: 70px;
          height: 30px;
          background: url("/common/images/app/icon_new.png");
          background-size: contain;
          content: '';
          z-index: 1;
        }
      }
      &.download{
        position: relative;
        &:after{
          display: block;
          position: absolute;
          right: -5px;
          bottom: 20px;
          width: 36px;
          height: 36px;
          background: url("/common/images/app/icon_download.png") no-repeat;
          background-size: contain;
          content: '';
          z-index: 1;
        }
      }
      &.new2 {
        position: relative;
        &:before {
          display: block;
          position: absolute;
          top: -18px;
          left: 50%;
          margin-left: -35px;
          width: 70px;
          height: 30px;
          background: url("/common/images/app/icon_new2.png");
          background-size: contain;
          content: '';
          z-index: 1;
        }
      }
      a {
        display: inline-block;
        position: relative;
        width: 100%;
        vertical-align: top;
        color: inherit !important;
        text-decoration: none !important;
        line-height: 1.2;
        font-size: 1rem;
        padding-bottom: 8px;
      }
      img {
        display: block;
        width: 82px;
        margin: 0 auto 5px;
        vertical-align: top;
      }
    }
  }
  ul li.oherApps {
    border-radius: 0;
    box-shadow: none;
    padding: 5px 0 0;
    background: none;
  }
  ul li.oherApps img {
    width: 100%;
  }
  &.ranking ul, ul.ranking{
    li {
      margin-top: 19px;
      position: relative;
      &:before {
        position: absolute;
        top: -19px;
        left: 50%;
        width: 67px;
        height: 32px;
        margin-left: -33.5px;
        background-size: contain;
        content: '';
        z-index: 1;
      }
      &:nth-child(1):before {
        background-image: url("/common/images/launcher/home/ranking_1st.png");
      }
      &:nth-child(2):before {
        background-image: url("/common/images/launcher/home/ranking_2nd.png");
      }
      &:nth-child(3):before {
        background-image: url("/common/images/launcher/home/ranking_3rd.png");
      }
      &:nth-child(4):before {
        background-image: url("/common/images/launcher/home/ranking_4th.png");
      }
      &:nth-child(5):before {
        background-image: url("/common/images/launcher/home/ranking_5th.png");
      }
      &:nth-child(6):before {
        background-image: url("/common/images/launcher/home/ranking_6th.png");
      }
      &:nth-child(7):before {
        background-image: url("/common/images/launcher/home/ranking_7th.png");
      }
      &:nth-child(8):before {
        background-image: url("/common/images/launcher/home/ranking_8th.png");
      }
      &:nth-child(9):before {
        background-image: url("/common/images/launcher/home/ranking_9th.png");
      }
      &:nth-child(10):before {
        background-image: url("/common/images/launcher/home/ranking_10th.png");
      }
    }

  }
  &.bgNone {
    ul {
      li {
        margin: 15px 4.5px 10px;
        padding: 0;
        background: none;
        box-shadow: none;
        img {
          width: 82px;
          border-radius: 15px;
          box-shadow: 0 0 5px 3px rgba(0, 0, 0, .05);
        }
        a p{
          width: 7em;
          margin: 0 auto;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
        }
      }
    }
  }
}
form.module {
  padding: $atmg;
  [type=password],
  input[type=text],
  textarea {
    padding: 1.5%;
    border: solid 1px #AAA;
    border-radius: 2px;
    background-color: #FAFAFA;
    box-shadow: inset 0 2px 3px 2px rgba(0, 0, 0, .05);
    font-size: 1.4rem;
  }
  textarea {
    width: 95%;
    height: 14em;
  }
  ul {
    &.inline {
      margin-bottom: 1em;
      li {
        display: inline;
      }
    }
  }
  .btn.iblock{
    //width: 93.2%;
  }
}
.center {
  text-align: center;
  &.mb{
    margin-bottom: 2em;
  }
}
.borderBtm {
  border-bottom: solid 1px #E1DFD1;
}
a {
  &.movie {
    i {
      margin-right: 0.3em;
      font-style: 1.5rem;
    }
  }
}
/* =========================================================
 DIALOG
========================================================= */
.remodal {
  position: relative;
  padding: 2px;
  border: solid 5px #f7bc28;
  box-shadow: inset 0 0 0 1px #ee993b;
  border-radius: 15px;
  .close {
    position: absolute;
    top: -15px;
    right: -15px;
  }
  section {
    //width: 100%;
    //height: 100%;
    margin: 0 auto;
    padding: 20px 8px;
    overflow: auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    font-size: 1.3rem;
  }
  h2 {
    margin-bottom: 1em;
    font-size: 1.6em;
    text-align: center;
    line-height: 1.2;
    font-weight: bold;
    background-color: transparent;
    color: inherit;
  }
  .txt {
    text-align: left;
    font-size: 1rem;
    margin: 0 auto;
    p {
      margin-bottom: 0;
      font-size: 1.449rem;
      .btn{
        margin-top: 1em;
      }
    }
    &.timer{
      width: 253px;
    }
  }
  .input {
    position: relative;
    height: 3.6em;
    margin: 3em 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &[data-length="null"] {
      background-image: url("/common/images/common/password_area_00.png");
    }
    &[data-length="0"] {
      background-image: url("/common/images/common/password_area_01.png");
    }
    &[data-length="1"] {
      background-image: url("/common/images/common/password_area_02.png");
    }
    &[data-length="2"] {
      background-image: url("/common/images/common/password_area_03.png");
    }
    &[data-length="3"] {
      background-image: url("/common/images/common/password_area_04.png");
    }
    .password {
      display: none;
    }
    .error {
      position: absolute;
      bottom: -2em;
      left: 50%;
      width: 12em;
      margin: 0 auto 0 -6.5em;
      padding: 0.5em;
      border-radius: 10px;
      background-color: rgba(#fe8a00, .75);
      font-weight: bold;
      color: #fff;
      &.hide {
        display: none;
      }
    }
  }
  .numeric {
    width: 255px;
    margin: 0 auto;
    text-align: left;
    font-size: 0;
    li {
      display: inline-block;
      //width: 30px;
      height: 55px;
      margin: 0 7px 8px 0;
      &:nth-child(6n+6) {
        margin-right: 0;
      }
      .android & {
        margin-right: 9px;
      }
      span {
        display: table-cell;
        width: 100%;
        height: 100%;
        border-style: none;
        background-color: #FFF;
        font-size: 2rem;
        font-weight: bold;
        border-spacing: 0;
        border-collapse: collapse;
        &.delete{
          padding: 10px;
          img{
            width: 15px;
          }
        }
      }
    }
  }
  .buttons {
    margin: 10px 0 30px;
    li {
      display: inline-block;
      input {
        width: 120px;
        font-size: 1.4rem;
        &:first-child {
          margin-right: 2px;
        }
      }
    }
  }
}
/* =========================================================
 TABLET
========================================================= */
@media screen and (min-width: $tablet) {
  .sp {
    display: none !important;
  }
  .tb {
    display: block;
  }
  header {
    h1 {
      width: 10%;
    }
    .inner {
      text-align: right;
      .menu {
        display: inline-block;
        margin-left: 0;
        li {
          display: inline-block;
          margin: 0 0 0 5px;
          vertical-align: middle;
          .btn {
            width: 93px;
            padding: 0.9em 0 0.8em;
          }
          img {
            vertical-align: top;
          }
        }
      }
    }
  }
  footer{
    padding-top: 21%;
    background-image: url(/common/images/common/footer_bg_tab.jpg);
    background-size: 100%;
    background-position: center bottom;
  }
}
@media screen and (min-width: 960px) {
  #contents {
    background-color: #faf9e8;
    h1 {
      @extend %tbWidth;
    }
    section.inner {
      @extend %tbWidth;
      background-color: #FFF;
    }
    &.initial .inner {
      @extend %tbWidth;
    }
    &.feature #mainVisual {
      @extend %tbWidth;
    }
    &.launcher {
      &.home {
        background-color: #FFF;
      }
      section.inner {
        background-color: transparent;
      }
    }
    &.parents {
      &.home {
        background-color: #FFF;
      }
      &.search {
        background-color: #FFF;
        h1 {
          max-width: none;
        }
      }
      &.detail_app {
        #mainVisual {
          @extend %tbWidth;
          background-color: #FFF;
        }
        > .paragraph {
          @extend %tbWidth;
          margin-bottom: 0;
          padding: 1em;
          background-color: #FFF;
        }
      }
      &.special.page {
        > .center {
          @extend %tbWidth;
          margin-bottom: 0;
          padding-bottom: 1em;
          background-color: #FFF;
        }
      }
      &.press {
        #mainVisual {
          @extend %tbWidth;
          background-color: #FFF;
        }
      }
      .visual {
        @extend %tbWidth;
      }
      &.parentsabout {
         > .paragraph,
        #trial {
          @extend %tbWidth;
          margin-bottom: 0;
          padding-bottom: 2em;
          + section.inner {
            background-color: #fffde7;
          }
        }
      }
      &.faq {
        > section {
          @extend %tbWidth;
          background-color: #FFF;
          .center {
            margin-bottom: 0;
            padding-bottom: 1em;
          }
        }
      }
      nav.list {
        background-color: #FFF;
      }
    }
    %tbWidth {
      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
      box-sizing: border-box;
    }
  }
}

/* loding */
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #faf9e8;
  z-index: 3;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #0b2745;
  z-index: 4;
}
